.latestbolly{
    padding-right: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border: 20px ridge skyblue;
    border-radius: 10px;
    /* background-color: black; */
    height: 340px;
    width: 400px;
}
.latestbolly:hover{
    transform: translateX(20px);
    transition: all 0.3s linear;
    box-shadow: 20px 20px 2px gray ;
}
.latestbolly:not(:hover){
    transform: translateX(-20px);
    transition: all 0.3s linear;
}
.bollyimg{
    border: 2px solid black;
    /* box-shadow: 5px 5px gray; */
    height: 300px;
    width: 200px;
    
}
.bollyhead{
    text-align: center;
    /* border: 2px solid black; */
}
.bollypara{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    /* height: 200px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient: vertical;
    /* border: 2px solid black; */
}
.top{
    /* background-color: green; */
    height: 200px;
    width: 80px;
}
.top1{
    width: 100px;
    height: 160px;
}
.top3{
    height: 62px;
}

@media (max-width:650px) {
    .latestbolly{
        padding-right: 0px;
        width: 230px;
        flex-direction: column;
        align-items: center;
    }
    .bollyhead{
        display: none;
    }
    .bollypara{
        display: none;
    }
    .top{
        /* display: none; */
        padding-right: 0px;
        width: 200px;
        flex-direction: column;
        align-items: center;
    }
   
}