.landing{
    background-image: url('../../assets/pexels.jpg');
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-position: 1; */
    /* background-color: red; */
}

.landing-content{
    height: 100%;
    font-size: 50px;
    width: 100%;
    display: flex;gap: 50px;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button:hover {
    cursor: pointer;
    color: #e8e8e8;
   }
   
   .button:hover::before {
    width: 100%;
   }

@media screen and (max-width:700px) {
    .landing-content{
        font-size: 20px;
    }
    .landing{
        height: 600px;
    }
    
}