*{
    box-sizing: border-box;
}
h1{
    color: white;
    /* background-color: black; */
    /* color: white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
    font-size: 40px;
}
.home{
    padding-bottom: 100px;
    background-color: rgba(158,162,171,255);
    /* display: none; */
    /* margin-top: 123px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0px;
}
.latesttravel{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: aqua; */
    justify-content: space-between;
}
.homebolly{
    width: 80vw;
    /* background-color: gainsboro; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-around;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 500px;
    /* background-color: blue; */
}
.box2{
    text-align: center;
    background-image: linear-gradient(
        aqua,
        green,
        yellow
    );
    /* height: 900px; */
    width: 300px;
    border: 2px solid black;
}
.hometechno{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:700px) {
    .home{
        gap: 20px;
    }
    h1{
        font-size: 30px;
    }
    .latesttravel{
        flex-direction: column;
        align-items: center;
    }
    .hometechno{
        flex-direction: column;
    }
    .homebolly{
        /* background-color: aqua; */
        flex-direction: column;
        align-items: center;
    }
    .box1{
        width: 320px;
        flex-direction: column;
        align-items: center;
    }
    .box2{
        width: 250px;
    }
}